<head>

  <%= stylesheet_link_tag "stylesheet" %>
  
</head>

<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav active" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

<div style="display: flex">
  <div id="winged">
    <h1>All Flying Monsters</h1>

    <% @monsters.each do |monster| %>
      <div id="monster_<%= monster.id %>">
        <% if monster.flying %>
          <h2><a href="/monsters/<%= monster.id %>"><%= monster.name %></a></h2>
          <p><%= link_to "Edit Monster", "/monsters/#{monster.id}/edit" %></p>
          <%= link_to "Delete #{monster.name}", "/monsters/#{monster.id}", method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="land" style="margin-left: 70px">
    <h1>All Land Monsters</h1>

    <% @monsters.each do |monster| %>
      <div id="monster_<%= monster.id %>">
        <% if !monster.flying %>
          <h2><a href="/monsters/<%= monster.id %>"><%= monster.name %></a></h2>
          <p><%= link_to "Edit Monster", "/monsters/#{monster.id}/edit" %></p>
            <%= link_to "Delete #{monster.name}", "/monsters/#{monster.id}", method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

</body>