<h1>Monster Info</h1>

<h2>Name: <%= @monster.name %></h2>
<h3>God: <%= @monster.god.name %></h3>
<h4>Strength Rank: <%= @monster.strength_rank %></h4>
<h4>Flying: <%= @monster.flying %></h4>
<p>Created: <%= @monster.created_at %></p>
<p>Updated: <%= @monster.updated_at %></p>