<head>

  <%= stylesheet_link_tag "stylesheet" %>

</head>

<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <h1> Make changes to your God</h1>

  <%= form_with url: "/gods/#{@god.id}", method: :patch, local: :true do |f| %>
    <div>
      <%= f.label :name, "Name this God" %><br><br>
      <%= f.text_field :name, required: true, value: @god.name %><br><br>
    </div>

    <div>
      <%= f.label :age, "How old is this being? (mil. of years)"%><br><br>
      <%= f.number_field :age, value: @god.age, required: true %><br><br>
    </div>

    <div>
      <p>Does your God suffer the frailty of mortality, or the curse of eternal life?</p>
      <%= f.radio_button :immortal, "true" %>
      <%= f.label :immortal_true, "Immortal" %>
      <%= f.radio_button :immortal, "false" %>
      <%= f.label :immortal_false, "Mortal" %>
      <p><%= @radio_msg %>
    </div>
    
    <div>
      <%= f.submit "Update #{@god.name}" %>
    </div>
  <% end %>
</body>