<head>

  <%= stylesheet_link_tag "stylesheet" %>

</head>

<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <h1 style="text-align: center; padding: 30px">All Gods</h1>
  <h2><a href='/gods/new/'>Recognize a new God</a></h2>
  <ul>
    <% @gods.each do |god| %>
      <div id="god.<%= god.id %>">
        <h2><a href='/gods/<%= god.id %>'><%= god.name %></a></h2>
        <p><a href="/gods/<%= god.id %>/edit">Edit</a></p>
      </div>
    <% end %>
  </ul>

</body>








