<head>

  <%= stylesheet_link_tag "stylesheet" %>

</head>

<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <h1 style="text-align: center; padding: 30px">All Gods</h1>
  <h2><a href='/gods/new/'>Recognize a new God</a></h2>
  <ul>
    <% @gods.each do |god| %>
      <li class="god">
        <h1><%= god.name %></h1>
        <p><a href='/gods/<%= god.id %>'>Link</a></p>
        <%# <a href="/gods/<%= god.id /edit">Edit</a><br><br> %>
        <form action="/gods/<%= god.id %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="DELETE">
          <%# <input type="submit" value="delete"/> %>
        </form>
      </li>
    <% end %>
  </ul>

</body>








