<head>

  <%= stylesheet_link_tag "stylesheet" %>

</head>

<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <div style="text-align: center; padding: 30px">
    <h1>All Gods</h1>
    <h2><a href='/gods/new/'>Recognize a new God</a></h2>
    <%= link_to "Sort by number of monsters", "/gods?sort_by_monsters=true", method: :get %>
  </div>
  
  <ul>
  <div style="display: flex; flex-wrap: wrap">
    <% @gods.each do |god| %>
      <div id="god_<%= god.id %>" style="padding: 50px">
        <h2><a href='/gods/<%= god.id %>'><%= god.name %></a></h2>
        <%= "Number of monsters: #{god.monsters.count}" %>
        <p><a href="/gods/<%= god.id %>/edit"><%= "Edit #{god.name}" %></a></p>
        <p><%= link_to "Delete", "/gods/#{god.id}", method: 'delete' %></p>
      </div>
    <% end %>
  </div>
  </ul>

</body>








