<head>

  <%= stylesheet_link_tag "stylesheet" %>

</head>

<body>

 <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

<h1>All Gods</h1>

<% @gods.each do |god| %>
  <h3><a href='/gods/<%= god.id %>'><%= god.name %></a></h3>
  <a href="/gods/<%= god.id  %>/edit">Edit</a><br><br>
  <form action="/gods/<%= god.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>

</body>








