<head>

  <%= stylesheet_link_tag "stylesheet" %>

</head>

<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <h1 style="text-align: center; padding: 30px"><%= @god.name %>'s Menagerie</h1>

  <%= link_to "Sort Alphabetically", "/gods/#{@god.id}/menagerie?min_strength_rank=0&sort_alpha=1" %>

  <p><%= form_with url: "/gods/#{@god.id}/menagerie?min_strength_rank=0&sort_alpha=1", local: :true, method: :get do |f| %></p>

    <p><%= f.label :min_strength_rank, "Select a minimum strength rank for displayed monsters" %>
    <%= f.number_field :min_strength_rank, in: 0.0..10.0, step: 0.5%></p>
    <p><%= f.submit "Update Display" %></p>
  <% end %>

  <% @monsters.each do |monster| %>

    <div id= "monster_<%= monster.id %>">
      <h2><%= monster.name %></h2>
      <h3>Strength Rank: <%= monster.strength_rank %></h3>
      <h3>Flying: <%= monster.flying %></h3>
      <p>Created At: <%= monster.created_at %></p>
      <p>Updated At: <%= monster.updated_at %></p>
      <p><%= link_to "Edit Monster", "/monsters/#{monster.id}/edit" %></p>
      <%= link_to "Delete #{monster.name}", "/monsters/#{monster.id}", method: :delete %>
    </div>

  <% end %>

  <h2><a href="/gods/<%= @god.id %>/menagerie/new">Summon New Monster</a></h2>