<head>
  <%= stylesheet_link_tag "stylesheet" %>
</head>


<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <h1>Recognize a new God</h1>
  <%= form_with url: "/gods", method: :post, local: :true do |f| %>
    <div>
      <%= f.label :name, "Name this God" %><br><br>
      <%= f.text_field :name, required: true %><br><br>
      <%# <% invalid = @god.errors.include?(:name) %>
      <%# <% if invalid %>
        <%# <div> %>
          <%# <% god.errors.full_messages_for(:name).each do |msg| %>
            <%# <%= msg %>
          <%# <% end %>
        <%# </div> %>
      <%# <% end %>
    </div>

    <div>
      <%= f.label :age, "How old is this being? (mil. of years)"%><br><br>
      <%= f.number_field :age, required: true %><br><br>
    </div>

    <div>
      <p>Does your God suffer the frailty of mortality, or the curse of eternal life?</p>
      <%= f.radio_button :immortal, "true" %>
      <%= f.label :immortal_true, "Immortal" %>
      <%= f.radio_button :immortal, "false" %>
      <%= f.label :immortal_false, "Mortal" %><br><br>
    </div>
    
    <div>
      <%= f.submit "Create God" %>
    </div>

    <% if !@errors.nil? %>
      <% @errors.each do |error| %>
        <%= error %>
      <% end %>
    <% end %>

  <% end %>

</body>
