<head>
  <%= stylesheet_link_tag "stylesheet" %>
</head>


<body>

  <div>
    <ul class="nav">
      <li class="nav"><a class="nav" href="/">Home</a></li>
      <li class="nav"><a class="nav active" href="/gods/">Gods</a></li>
      <li class="nav"><a class="nav" href="/monsters/">Monsters</a></li>
    </ul>
  </div>

  <h1>Recognize a new God</h1>

  <%= form_with url: "/gods", method: :post do |form| %>
    <%= form.label :name, "Name this God" %><br><br>
    <%= form.text_field :name %><br><br>
    <%= form.label :age, "How old is this being? (mil. of years)"%><br><br>
    <%= form.number_field :age %><br><br>
    <p>Does your God suffer the frailty of mortality, or the curse of eternal life?</p>
    <%= form.radio_button :immortal, "true" %>
    <%= form.label :immortal_true, "Immortal" %>
    <%= form.radio_button :immortal, "false" %>
    <%= form.label :immortal_false, "Mortal" %><br><br>
    <%= form.submit "Create God" %>
  <% end %>
  
</body>
